/****** DEFAULTS ******/

// sizes
@base: 100%;
@width: 1.5em;
@thickness: .3125em;
@spacing: .525em;
@border-radius: 1.5em;

// animation
@toggle-factor: .75;
@hover-factor: 1.20;
@duration: .5s;

// theme
@background: #c9302c;
@opacity: 0.8;
@hover-opacity: 1;

// position
@top: auto;
@right: 0;
@bottom: auto;
@left: auto;